<!--

<h1 id="title">RagingSin</h1>
<h2 id="subtitle">Code is Everywhere</h1>
<h2> Login </h2>
<h2> SignUp </h2>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->
<br>

<div class="page-header">
  <h1>RagingSin <small>   Code is Everywhere</small></h1>
</div>


<div class="container-fluid">
  <% @posts.each do |post| %>
  <div id = "post_title" ><%= post.title %></div>
  <div id = "post_body"><%= post.body %> </div>
  <% if current_user && current_user.email = "nit0099@gmail.com" %>
  <div id = "read_more"><%= link_to 'Read More', post %> </div>
  <div id = "edit_post"><%= link_to 'Edit', edit_post_path(post) %></div>
  <% else %>
  <div id = "read_more"><%= link_to 'Read More', post %> </div>
  <% end %>
  <% end %>
</div>

<br />
<div id="container-fluid">
  <div id="row-fluid">
    <% if current_user && (current_user.email = "ni0099@gmail.com" || current_user.email ="prerna@gmail.com") %>
      <div class="container"><%= link_to 'New Post', new_post_path %></div>
    <% else %>
      <%= nil %>
    <% end %>
</div>
</div>
