<p id="notice"><%= notice %></p>

<p>
  <strong> <%= @post.title %></strong>
</p>

<p>
  <strong></strong>
  <%= @post.body %>
</p>


<h2> Comments </h2>
<div id ="comments">
	<%= render :partial => @post.comments.reverse %>
</div>

<%= form_for([@post,Comment.new], remote: true) do |f| %>
	<p><%= f.label :body, "New Comment" %><br />
		<%= f.text_area :body %>
	</p>
	<p><%= f.submit "Add Comment" %></p>
<% end %>

<% if current_user && current_user.email = "nit0099@gmail.com" %>
	<%= link_to 'Edit', edit_post_path(@post) %>
	<%= link_to 'Back', posts_path %>
	<% else %>
		<%= link_to 'Back', posts_path %>
<% end %>