// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*

h1 {
	font-family: verdana, arial, helvetica, sans-serif;
	color : white;
	size: 25 px;
	text-align : center;
	padding: 15px 15px 15px 15px;
}

h2 {
	font-family: verdana, arial, helvetica, sans-serif;
	color: black;
	text-align : right;
	padding: 0px 0px 0px 0px;
	size : 15px;

}

#title{
	width : 96%;
	height : 20%;
	border : 2px solid;
	background-color: grey;
	margin: 15px 15px 15px 0px;
}

#sub_title{
	width : 100%;

}

body {
	width : 95%;
	height : 100%;
	border : 2px solid;
	background: #310404;
	margin: 15px 15px 15px 15px;
}


#login{
#p1{
	text-align: right;
	postion : relative;
	margin : 0px 0px 0px 0px;
}

#p2{
	position: relative;
	text-align : right;
	margin : 0px 0px 0px 0px;
}
}


*/