/*
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}



div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}



#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


#post_title{
  color : #d25349;
  text-align : left;
  font-size: 25px;
  padding : 15px 15px 15px 0px;
  margin: 15px 15px 15px 0px;
  line-height : 18px;
  font-weight: 35px;
  }

#post_body {
  color : black;
  font-family: verdana, arial, helvetica, sans-serif;
  padding : 0px 15px 15px 0px;
  margin: 0px 15px 15px 0px;
}



#login{
#p1{
  text-align: right;
  postion : relative;
  margin : 0px 0px 0px 0px;
}

#p2{
  position: relative;
  text-align : right;
  margin : 0px 0px 0px 0px;
}
}

*/