<!DOCTYPE html>
<html>
<head>
  <title>Ragingsin Blog -- Code is Everywhere.</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<!--
<div id="navbar">
	<% if current_user %>
		Logged in as <%= current_user.email %>.
		<%= link_to "Log out", log_out_path %>
	<% else %>
	<%= link_to "Sign Up" , sign_up_path %> or
	<%= link_to "log in", log_in_path %>
	<% end %>
</div>

-->

<div class="navbar navbar-fixed-top nav-justified">
<div class="navbar-inner">
  <div class="container-fluid">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>

    <a class="brand" href="./">RagingSin</a>
    <div class="nav-collapse">
      <ul class="nav">
      	<% if current_user %>
      	<li>
      		Logged in as <%= current_user.email %> 
          <%= link_to "Log_out", log_out_path %></li>
      	<% else %>
        <li><%= link_to "SignUp", sign_up_path %></li>
       	<li><%= link_to "Login", log_in_path %></li>
       	<% end %>
      </ul>
    </div>
  </div>
</div>
</div>


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span warning">
      <%= flash.each do |name, msg| %>
	     <% content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
      <%= yield %>
    </div>
    <div class="span2">
      <h2>About Me</h2>
        Hey, My name is Nitish Singh and welcome to my blog page. I created this Blog Site to fulfill the purose of mini-project for my B level. The Blog is build using Rails 4. Encyrption Library BCrypt is used to encrypt user information in the database. SQLlite as the server side technology. In Frontend Twitter Bootstrap is used make the site look beautiful. AJAX is used to dynamically add comments under blog posts. This is a beautiful example of Rails 4 and it's MVC architecture.
        <br />
        <h3> Archives </h3>
        <div id="archive"><% link_to "post.title" %> </div
    </div>
  </div>
</div>

</body>
</html>
